/**{ outline: 1px solid rgba(255,0,0,0.2);}*/

$tipografia: "Open Sans", sans-serif;

$color-gris-oscuro:#dfdfdf;
$color-blanco:#FFFFFF;
$color-negro:#000000;
$color-rosado:#DF6767;
$color-plomo:#595353;

body{
	background: $color-blanco;
	font-family: $tipografia;
	font-size: 13px;
}

.contactanos{
	padding-top: 60px;
	padding-bottom: 60px;
	background: url("../images/escritorio.jpg");
	background-size: cover;
	height: auto;
	width: 100%;
	color: $color-blanco;
}
.contacts{
	background-color: rgba(0, 0, 0, 0.5);		
}
.contact-title{
	background: $color-rosado;	
	font-weight: bold;
	padding: 10px;
}
.contact-title p{
	font-size: 50px;
}
.contact-info{
	margin: 20px;
	margin-left: 50px;
}
.ubicanos{
	padding-top: 50px;
	padding-bottom: 50px;
}
.map{
	margin-right: 10px;
}
.map img{
	width: 100%;
}
.formato input{
	border:none;	
	width: 100%;
	height: 40px;
	background: $color-gris-oscuro;
	padding: 10px;
	margin-bottom: 20px;
}
.formato textarea{
	width: 100%;
	height: 200px;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	background: $color-gris-oscuro
}
.boton-ubicanos .btn{
	width: 100px;
	padding: 10px;
	color: #FFFFFF;	
	font-size: 13px;
	background: $color-plomo;
	margin-bottom: 20px;
}
.boton-ubicanos .btn:hover{
	background: rgba(0, 0, 0, 0.5);
}