/**{ outline: 1px solid rgba(255,0,0,0.2);}*/

$tipografia: "Open Sans", sans-serif;

$color-gris-oscuro:#dfdfdf;
$color-blanco:#FFFFFF;
$color-negro:#000000;
$color-rosado:##DF6767;

body{
	background: $color-blanco;
	font-family: $tipografia;
	font-size: 13px;
}

/* HEADER*/

.wellcome{
	background: $color-gris-oscuro;
}
.wellcome p{
	font-size: 50px;
	font-weight: bold;
}
.wellcome li{
	outline: 1px solid $color-blanco;
}
.portada{
	padding-top: 50px;
	padding-bottom: 50px;
}
.portada img{
	height: 120px;
}
.menu{
	background: $color-gris-oscuro;
	color: $color-negro;
}

/* CONTENT*/

.hero{
	height: 500px;
	overflow: hidden;
	position: relative;
}
.hero .list-slider{
	display: flex;
	animation: cambio 30s infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}
.hero li{
	height: 500px;
	padding: 150px 230px;
}
.hero .primero{
	background: url("../images/slider1.jpg")
}
.hero .segundo{
	background: url("../images/slider2.jpg")
}
.hero .slider {	
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.hero .box{
	height: 200px;
	width: 700px;
	z-index: 2;
	text-align: center;	
	padding: 25px;
	color: $color-blanco;
}
.hero .box h1{
	outline: 2px solid $color-blanco;
	padding: 25px;
}
/*EFECTOS DE SLIDER*/
@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: 0;}

	25%{margin-left: -100%;}
	45%{margin-left: -100%;}

	50%{margin-left: -200%;}
	70%{margin-left: -200%;}

	75%{margin-left: -300%;}
	100%{margin-left: -300%;}
}

.arrivals{
	padding-top: 50px;
	padding-bottom: 50px;
}
.sale-list{
	padding-bottom: 40px;
}
.sale-items img{
	width: 100%;
}
.clientes{
	background: url("../images/client-bg.jpg")
}
.clientes img{
	margin: 20px;
	width: 150px;
	padding-top: 80px;
	padding-bottom: 80px;
}
.catalog-list img{
	outline: 2px solid $color-blanco;
	outline-offset: -10px;
	width: 180px;
}
.blog-items img{
	width: 100%;
}
.blog-detail h5{
	font-weight: bold;
}
.buy-list{
	padding-top: 50px;
	padding-bottom: 50px;
}
.buy-items{
	margin: 20px;
	outline: 2px solid $color-gris-oscuro;
}
.buy-icono{
	font-size: 30px;
	padding-top: 20px;
	border-right: 1px solid $color-gris-oscuro;
}

/* FOOTER*/

.resume{
	background: $color-gris-oscuro;
}
.resume h5{
	font-weight: bold;
}
.copyright{
	background: $color-negro;
	color: $color-blanco;
	padding: 20px;
}