doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1")

	title=FashionAccesories

	link(rel="stylesheet", href="../css/bootstrap.min.css")
	link(rel="stylesheet", href="../css/font-awesome.min.css")
	link(rel="stylesheet", href="../sass/main.css")
	link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")

	script(src="../js/jquery.min.js")
	script(src="../js/bootstrap.min.js")

body
	header
		.wellcome
			.container
				.row
					.col-md-8
						img(src="../images/welcome.jpg")
					.col-md-4
						nav.collapse.navbar-collapse
							ul.nav.navbar
								li.dropdown
									a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Language
										img(src="../images/flag1.png")
										span.caret
									ul.dropdown-menu
										li
											img(src="../images/flag1.png")
											a(href="#") English		
										li
											img(src="../images/flag2.png")
											a(href="#") Spanish		
								li.dropdown
									a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") $ Currency
										span.caret
									ul.dropdown-menu
										li
											a(href="#") Dolar		
										li
											a(href="#") Euro
								li.dropdown
									a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") My Account
										span.caret
									ul.dropdown-menu
										li
											a(href="#") Sign In
										li
											a(href="#") Profile
										li
											a(href="#") Sign Out
		.portada
			.container
				.row
					.col-md-3
						i.glyphicon.glyphicon-time
						p OPENING TIME
						span 9.00AM - 10.00PM
					.col-md-6.text-center
						img(src="../images/logo.png")
					.col-md-3.text-center
						input(type="Search", placeholder="Search")
						button: i.glyphicon.glyphicon-search
		.menu
			.container
				.row
					.col-md-6
						ul.nav.nav-pills.list-unstyled
							li
								a(href="file:///C:/Users/LIZBETH%20CHACON/Desktop/Laboratoria-2016-II/Unidad-II/Fashion-Accesories/assets/jade/index.html") HOME					
							li
								a(href="file:///C:/Users/LIZBETH%20CHACON/Desktop/Laboratoria-2016-II/Unidad-II/Fashion-Accesories/assets/jade/contact.html") CONTACT US
					.col-md-6
						nav.collapse.navbar-collapse
							ul.nav.navbar
								li.dropdown
									a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") My Cart
										i.glyphicon.glyphicon-shopping-cart
										span.caret							
									ul.dropdown-menu
										li
											a(href="#")
											img.pull-left(src="../images/cart-1.jpg")
											p Aliquam Consect
											p 1 x $500
											i.glyphicon.glyphicon-remove
										li
											a(href="#")
											img.pull-left(src="../images/cart-2.jpg")
											p Quisque in Arcut
											p 1 x $200
											i.glyphicon.glyphicon-remove
										li
											a(href="#")
											p Sub-total
												span.pull-right $700
										li
											a(href="#")
											p Eco Tax(-2.00)
												span.pull-right $7.00
										li
											a(href="#")
											p VAT(%20)
												span.pull-right $40.00
	content
		.hero
			.slider
				ul.list-slider.list-unstyled
					li.primero.slider
						.box
							h1 AUTUMM/WINTER LOOKBOOK
							p -2016 COLLECTION-
					li.segundo.slider
						.box
							h1 AUTUMM/WINTER LOOKBOOK
							p -2016 COLLECTION-
					li.primero.slider
						.box
							h1 AUTUMM/WINTER LOOKBOOK
							p -2016 COLLECTION-
					li.segundo.slider
						.box
							h1 AUTUMM/WINTER LOOKBOOK
							p -2016 COLLECTION-
		.arrivals
			.container
				.row
					.col-md-5
						img(src="../images/banner1.jpg")

					.col-md-7
						img(src="../images/banner2.jpg")
		.sales
			.container
				.sale-menu
					hr
					span(class="glyphicon glyphicon-chevron-left")
					ul.nav.nav-pills.list-unstyled
						li
							a(href="#") LATEST						
						li
							a(href="#") BESTSELLER
						li
							a(href="#") SALE					
					span(class="glyphicon glyphicon-chevron-right")
					hr
				.sale-list
					.row
						.col-md-3.sale-items
							img(src="../images/a1.jpg")
							.text-center
								p Deliver Wide
								i.glyphicon.glyphicon-star
								i.glyphicon.glyphicon-star
								i.glyphicon.glyphicon-star
								i.glyphicon.glyphicon-star-empty
								i.glyphicon.glyphicon-star-empty
								p $218.00
						.col-md-3.sale-items
							img(src="../images/b1.jpg")
							.text-center
								p Deliver Wide
								i.glyphicon.glyphicon-star
								i.glyphicon.glyphicon-star
								i.glyphicon.glyphicon-star
								i.glyphicon.glyphicon-star-empty
								i.glyphicon.glyphicon-star-empty
								p $242.00 - $218.00
						.col-md-3.sale-items
							img(src="../images/c1.jpg")
							.text-center
								p Deliver Wide
								i.glyphicon.glyphicon-star
								i.glyphicon.glyphicon-star
								i.glyphicon.glyphicon-star
								i.glyphicon.glyphicon-star-empty
								i.glyphicon.glyphicon-star-empty
								p $242.00 - $218.00
						.col-md-3.sale-items
							img(src="../images/d1.jpg")
							.text-center
								p Deliver Wide
								i.glyphicon.glyphicon-star
								i.glyphicon.glyphicon-star
								i.glyphicon.glyphicon-star
								i.glyphicon.glyphicon-star-empty
								i.glyphicon.glyphicon-star-empty
								p $218.00
		.clientes
			.container
				img(class="cliente", src="../images/client1.jpg")
				img(class="cliente", src="../images/client2.jpg")
				img(class="cliente", src="../images/client3.jpg")
				img(class="cliente", src="../images/client4.jpg")
				img(class="cliente", src="../images/client5.jpg")
				img(class="cliente", src="../images/client6.jpg")
		.catalogo
			.container
				.catalog-menu
					hr
					span(class="glyphicon glyphicon-chevron-left")
					ul.nav.nav-pills.list-unstyled
						li
							a(href="#") CLOTHING					
						li
							a(href="#") EQUIPMENTS
						li
							a(href="#") JEWELLERY					
					span(class="glyphicon glyphicon-chevron-right")
					hr
				.catalog-list
					.row
						.col-md-4
							ul.nav.nav-pills.list-unstyled.media-list
								li.catalog-items.media
									.item-foto.pull-left.media-left
										img(class="media-object",src="../images/a2.jpg")
									.item-detail.media-body
										p Deliver Wide
										p $218.00
										i.glyphicon.glyphicon-star
										i.glyphicon.glyphicon-star
										i.glyphicon.glyphicon-star
										i.glyphicon.glyphicon-star-empty
										i.glyphicon.glyphicon-star-empty
										br
										a
											i.glyphicon.glyphicon-shopping-cart
											p Add to Cart
								li.catalog-items.media
									.item-foto.pull-left.media-left
										img(src="../images/d2.jpg")
									.item-detail.media-body
										p Deliver Wide
										p $218.00
										i.glyphicon.glyphicon-star
										i.glyphicon.glyphicon-star
										i.glyphicon.glyphicon-star
										i.glyphicon.glyphicon-star-empty
										i.glyphicon.glyphicon-star-empty
										br
										a
											i.glyphicon.glyphicon-shopping-cart
											p Add to Cart
						.col-md-4
							ul.nav.nav-pills.list-unstyled.media-list
								li.catalog-items.media
									.item-foto.pull-left.media-left
										img(src="../images/g2.jpg")
									.item-detail.media-body
										p Deliver Wide
										p $218.00
										i.glyphicon.glyphicon-star
										i.glyphicon.glyphicon-star
										i.glyphicon.glyphicon-star
										i.glyphicon.glyphicon-star-empty
										i.glyphicon.glyphicon-star-empty
										br
										a
											i.glyphicon.glyphicon-shopping-cart
											p Add to Cart
								li.catalog-items.media
									.item-foto.pull-left.media-left
										img(src="../images/c2.jpg")
									.item-detail.media-body
										p Deliver Wide
										p $218.00
										i.glyphicon.glyphicon-star
										i.glyphicon.glyphicon-star
										i.glyphicon.glyphicon-star
										i.glyphicon.glyphicon-star-empty
										i.glyphicon.glyphicon-star-empty
										br
										a
											i.glyphicon.glyphicon-shopping-cart
											p Add to Cart
						.col-md-4
							ul.nav.nav-pills.list-unstyled.media-list
								li.catalog-items.media
									.item-foto.pull-left.media-left
										img(src="../images/f2.jpg")
									.item-detail.media-body
										p Deliver Wide
										p $218.00
										i.glyphicon.glyphicon-star
										i.glyphicon.glyphicon-star
										i.glyphicon.glyphicon-star
										i.glyphicon.glyphicon-star-empty
										i.glyphicon.glyphicon-star-empty
										br
										a
											i.glyphicon.glyphicon-shopping-cart
											p Add to Cart
								li.catalog-items.media
									.item-foto.pull-left.media-left
										img(src="../images/e2.jpg")
									.item-detail.media-body
										p Deliver Wide
										p $218.00
										i.glyphicon.glyphicon-star
										i.glyphicon.glyphicon-star
										i.glyphicon.glyphicon-star
										i.glyphicon.glyphicon-star-empty
										i.glyphicon.glyphicon-star-empty
										br
										a
											i.glyphicon.glyphicon-shopping-cart
											p Add to Cart
		.blog
			.container
				.blog-menu
					hr
					span(class="glyphicon glyphicon-chevron-left")
					ul.nav.nav-pills.list-unstyled
						li
							a(href="#") BLOG					
					span(class="glyphicon glyphicon-chevron-right")
					hr
				.blog-list
					.row
						.col-md-3.blog-items
							.blog-foto
								img(src="../images/blog2.jpg")
							.blog-detail
								h5 THE SAMPLE HEADING TITLE
								p 27/11/2015
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quas voluptatibus repellat ea ...
								a(href="#")
									p Read more...
						.col-md-3.blog-items
							.blog-foto
								img(src="../images/blog1.jpg")
							.blog-detail
								h5 THE SAMPLE HEADING TITLE
								p 27/11/2015
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quas voluptatibus repellat ea ...
								a(href="#")
									p Read more...
						.col-md-3.blog-items
							.blog-foto
								img(src="../images/blog2.jpg")
							.blog-detail
								h5 THE SAMPLE HEADING TITLE
								p 27/11/2015
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quas voluptatibus repellat ea ...
								a(href="#")
									p Read more...
						.col-md-3.blog-items
							.blog-foto
								img(src="../images/blog3.jpg")
							.blog-detail
								h5 THE SAMPLE HEADING TITLE
								p 27/11/2015
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quas voluptatibus repellat ea ...
								a(href="#")
									p Read more...
		.buynow
			.container
				.row.buy-list
					.col-md-4
						.buy-items.media
							.buy-icono.media-left
								i.glyphicon.glyphicon-earphone
							.buy-detail.media-body
								h4 ORDER ONLINE NOW
								p Call us: (0123) 456789
					.col-md-4
						.buy-items.media
							.buy-icono.media-left
								i.glyphicon.glyphicon-plane
							.buy-detail.media-body
								h4 FREE WORLWIDE SHIPPING
								p On Order Over $100
					.col-md-4
						.buy-items.media
							.buy-icono.media-left
								i.glyphicon.glyphicon-usd
							.buy-detail.media-body
								h4 30 DAYS MONEY BACK 100%
								p Satisfaction Guarantee
	footer
		.resume
			.container
				.row
					.col-md-3
						h5 ACCESORIES
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. At obcaecati pariatur animi accusamus dolor voluptatem 
						.iconos
							i facebook
							i twiter
							i skype
					.col-md-6
						.row
							.col-md-4
								h5 MY ACCOUNT
								ul
									li My Account
									li Order History
									li Wish List
									li Newsletter
							.col-md-4
								h5 INFORMATION
								ul
									li About Us
									li Delivery Information
									li Privacy Policy
									li Terms & Conditions
							.col-md-4
								h5 EXTRAS
								ul
									li Brands
									li Gifts Vouchers
									li Affiliates
									li Specials
					.col-md-3
						h5 ABOUT US
						ul.list-unstyled.media
							li
								i.glyphicon.glyphicon-map-marker.media-left
								.media-body
									p 8901 Marmosr Broad, Glagow DO 89
									p GR, New York
							li
								i.glyphicon.glyphicon-earphone.media-left
								.media-body
									p (0123) 456789
									p (0987) 654321
							li
								i.glyphicon.glyphicon-envelope.media-left
								.media-body
									p admin@bootexperts.com
		.copyright
			.container
				.row
					.col-md-8
						p Copyright©2015 BootExperts All rights reserved.
					.col-md-4
						img(src="../images/payment.png")