doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1")

	title=FashionAccesories

	link(rel="stylesheet", href="../css/bootstrap.min.css")
	link(rel="stylesheet", href="../css/font-awesome.min.css")
	link(rel="stylesheet", href="../sass/main.css")
	link(rel="stylesheet", href="../sass/contact.css")
	link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")

	script(src="../js/jquery.min.js")
	script(src="../js/bootstrap.min.js")
	script(src="http://maps.google.com/maps/api/js?sensor=false&callback=iniciar")

body
	header
		.wellcome
			.container
				.row
					.col-md-8
						img(src="../images/welcome.jpg")
					.col-md-4
						nav.collapse.navbar-collapse
							ul.nav.navbar
								li.dropdown
									a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Language
										img(src="../images/flag1.png")
										span.caret
									ul.dropdown-menu
										li
											img(src="../images/flag1.png")
											a(href="#") English		
										li
											img(src="../images/flag2.png")
											a(href="#") Spanish		
								li.dropdown
									a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") $ Currency
										span.caret
									ul.dropdown-menu
										li
											a(href="#") Dolar		
										li
											a(href="#") Euro
								li.dropdown
									a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") My Account
										span.caret
									ul.dropdown-menu
										li
											a(href="#") Sign In
										li
											a(href="#") Profile
										li
											a(href="#") Sign Out
		.portada
			.container
				.row
					.col-md-3
						i.glyphicon.glyphicon-time
						p OPENING TIME
						span 9.00AM - 10.00PM
					.col-md-6.text-center
						img(src="../images/logo.png")
					.col-md-3.text-center
						input(type="Search", placeholder="Search")
						button: i.glyphicon.glyphicon-search
		.menu
			.container
				.row
					.col-md-6
						ul.nav.nav-pills.list-unstyled
							li
								a(href="file:///C:/Users/LIZBETH%20CHACON/Desktop/Laboratoria-2016-II/Unidad-II/Fashion-Accesories/assets/jade/index.html") HOME					
							li
								a(href="file:///C:/Users/LIZBETH%20CHACON/Desktop/Laboratoria-2016-II/Unidad-II/Fashion-Accesories/assets/jade/contact.html") CONTACT US
					.col-md-6
						nav.collapse.navbar-collapse
							ul.nav.navbar
								li.dropdown
									a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") My Cart
										i.glyphicon.glyphicon-shopping-cart
										span.caret
									ul.dropdown-menu
										li
											a(href="#")
											img.pull-left(src="../images/cart-1.jpg")
											p Aliquam Consect
											p 1 x $500
											i.glyphicon.glyphicon-remove
										li
											a(href="#")
											img.pull-left(src="../images/cart-2.jpg")
											p Quisque in Arcut
											p 1 x $200
											i.glyphicon.glyphicon-remove
										li
											a(href="#")
											p Sub-total
												span.pull-right $700
										li
											a(href="#")
											p Eco Tax(-2.00)
												span.pull-right $7.00
										li
											a(href="#")
											p VAT(%20)
												span.pull-right $40.00
	content
		.contactanos.contacts
			.container
				.row
					.col-md-6
						.contact-title
							p CONTACT US
					.col-md-6
						.contact-info
							p Contact info
							br 
							p phone: (0123) 456789
							br 
							p Mail: info@roadthemes.com
							br 
							p Adress: N° 40 Baria Street 133/2 New York City,
							br 
							p NY, United States				
		.ubicanos
			.container
				.row
					.col-md-6
						.map
							img(src="../images/map.jpg")
						
					.col-md-6.formato
						form(action="index.html", method="get")
							.row
								.col-md-6
									p
										input(type="text", id="Nombre", name="Nombre",  placeholder="First Name", required)
									p
										input(type="email", id="email", name="email",  placeholder="Email", required)
								.col-md-6
									p
										input(type="text", id="Apellido", name="Apellido",  placeholder="Last Name", required)
									p
										input(type="text", id="Website", name="Wwebsite",  placeholder="Website", required)
						p
							input(type="text", id="Subject", name="Subject",  placeholder="Subject", required)
						p
							textarea(placeholder="Message")
						.boton-ubicanos.pull-right
							a.btn.text-center
								span SEND
	footer
		.resume
			.container
				.row
					.col-md-3
						h5 ACCESORIES
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. At obcaecati pariatur animi accusamus dolor voluptatem 
						.iconos
							i facebook
							i twiter
							i skype
					.col-md-6
						.row
							.col-md-4
								h5 MY ACCOUNT
								ul
									li My Account
									li Order History
									li Wish List
									li Newsletter
							.col-md-4
								h5 INFORMATION
								ul
									li About Us
									li Delivery Information
									li Privacy Policy
									li Terms & Conditions
							.col-md-4
								h5 EXTRAS
								ul
									li Brands
									li Gifts Vouchers
									li Affiliates
									li Specials
					.col-md-3
						h5 ABOUT US
						ul.list-unstyled.media
							li
								i.glyphicon.glyphicon-map-marker.media-left
								.media-body
									p 8901 Marmosr Broad, Glagow DO 89
									p GR, New York
							li
								i.glyphicon.glyphicon-earphone.media-left
								.media-body
									p (0123) 456789
									p (0987) 654321
							li
								i.glyphicon.glyphicon-envelope.media-left
								.media-body
									p admin@bootexperts.com
		.copyright
			.container
				.row
					.col-md-8
						p Copyright©2015 BootExperts All rights reserved.
					.col-md-4
						img(src="../images/payment.png")